<div class="container">
    <h1>Über Localine</h1>    
    
    <h3>Aber was genau machen wir eigentlich?</h3>
    <div class="row">
    <h4>Für Kunden</h4>
    
        <p>
            Ganz einfach. In unserem Online-Shop findest du zahlreiche lokale Unternehmer und Einzelhändler, 
            die ihr Sortiment auf Localine anbieten. Über Localine kannst du eine Einkaufsliste anfertigen und diese dann 
            bestellen. Innerhalb der Bestellung gibst du eine Uhrzeit an, zu der die Ware geiefert werden soll. Ein Mitarbeiter 
            von Localine fährt die Geschäfte ab, erledigt den Wocheneinkauf und bringt ihn dir zur gewünschten Uhrzeit nachhause.   
        </p>
        <br>
            <span>Die Schritte zu deinem Einkauf</span>
            <br>
            <ol>
                <li>Einkaufsliste in Localine anfertigen</li>
                <li>gewünschte Lieferzeit angeben</li>
                <li>bestellen</li>
                <li>entspannen während wir deinen Wocheneinkauf erledigen</li>
            </ol>
    </div>
    <div class="row" id="for-provider">
        <h4>Für Unternehmen</h4>
        <p>Sie wollen Ihre Reichweite erweitern oder Ihre Produkte online anbieten, wissen aber nicht, 
            wie das funktioniert oder haben nicht die benötigten Kapazitäten? Ganz einfach - Localine übernimmt alles notwendige für Sie.
            Alles was Sie hierfür tun müssen, ist Ihren Shop bei Localine zu registrieren und Ihre Produkte bei uns einzupfegen.
            Dies haben wir so einfach wie möglich gehalten, um Ihnen so wenig zusätzliche Arbeit zu machen wie möglich. Sie können einzelne Produkte manuell 
            über Eingabefelder einfügen oder per Drag-and-Drop Lieferscheine mit großen Produkten einfügen. Localine übernimmt dann den Rest - von der Bestellannahme 
            bis hin zur Lieferung. 
        </p>
    </div>
    <hr>
    <br>
    <h3>Die Köpfe hinter Localine</h3>
    <br>
    <div class="row">
        <div class="col-sm">
            <img class="that-are-the-heads" width="230px" height="230px">
            <p>Canan Soysever
                <br>
                Studiengang:
                <br>
                Bereich: 
            </p>
        </div>
        <div class="col-sm">
            <img class="that-are-the-heads" width="230px" height="230px">
            <p>
                Moritz Danner
                <br>
                Studiengang:
                <br>
                Bereich:
            </p>
        </div>
        <div class="col-sm">
            <img class="that-are-the-heads" src="\assets\moi.jpg" height="230px" width="230px">
            <p>
                Philip Färber
                <br>
                Studienganh: MW+
                <br>
                Bereich: Softwareentwicklung
            </p>
        </div>
    </div>
</div>>