h1, h2, h3, h4, h5{
    color: #4BBF6A;
    margin-top: 40px;
    margin-bottom: 40px;
}
/* 
h3{
    margin-bottom: 30px;
} */

hr{
    border: 1.5px solid #4BBF6A;
}

.that-are-the-heads{
    border: 3px solid #4BBF6A;
    border-radius: 5%;
    margin-bottom: 5px;
}

.mikes-story{
    padding: 0;
}

#for-provider{
    margin-bottom: 40px;
}