.navbar{
    background-color: #4BBF6A;
    opacity: 0.65;
}

.navbar-toggler-icon .line{
    border-color: white;
}

.nav-link{
    color: white;
    margin: 15px 15px 15px 0;
}

.nav-link :hover{
    border-bottom: 2px solid white;
}

.profile-select{
    background-color: #4BBF6A;
    color: white;
    border: none;
}

.profile-select:hover{
    background-color: #4BBF6A;
}

.profile-select-option{
    padding: 6px;
    color: white;
    background-color: #9E9E9E;
}
